.wrapper{
  display: flex;
  justify-content: space-evenly;
}
.calculator{
  width: 300px;
  height: 410px;
  background-color: #576886;
  border: 2px solid black;
  border-radius: 15px;
}
.header{
  width: 75%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
#display { 
  width: 100%;
  height: 22px;
  text-align: right; 
}
#display:focus,
#display:active { 
outline: none;
}
.table{
  width: 75%;
  height: 300px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #D4E1F1;
  border: 1px solid #D4E1F1;
}
.table td{
  width: 20%;
  height: 20%;
  text-align: center;
}
.function-button,
.num-button,
.clear-button,
.equals-button{
  cursor: pointer;
  border: 2px solid #576886;
  background-color: #D4E1F1;
}
.disabled{
  background-color: #576886;
}
.log{
  width: 300px;
  height: 410px;
  overflow: auto;
}
.log-item{
  display: flex;
  justify-content:space-around;
  align-items: center;
  position: relative;
}
.red-circle{
  height: 15px;
  width: 15px;
  border: 1px solid red;
  border-radius: 50%;
}
.close {
  position: absolute;
  right: 35px;
  width: 15px;
  height: 15px;
  }
.close:before, .close:after {
  position: absolute;
  content: ' ';
  height: 15px;
  width: 2px;
  background-color: black;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}